/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font , sans-serif);
  background-color: var(--background-color);
  background: var(--background-gradient);
  color: var(--accent-color);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  margin: auto;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

@media (width <= 375px) {
  .content {
    inline-size: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  font-family: var(--accent-font , fantasy, sans-serif);
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  margin-block: 100px;
  padding-block-end: 22px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
  margin-block-end: 25px;
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  font-family: var(--accent-font, fantasy, sans-serif); 
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: 0;
  animation: pointer 0.5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  background-color: var(--accent-color);
  transition: inline-size 0.5s ease;
  inline-size: 0%;
  block-size: 2px;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__buttonn:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  inline-size: 100%;
}

.main__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 18px;
  text-align: left;
  padding-inline-start: 10px;
  padding: 5px 10px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-weight-card-title);
}

.card__image {
  border-block: 2px solid var(--accent-color);
  position: relative;
}

.card__image-img {
  inline-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.card__image-text {
  font-family: var(--accent-font, fantasy, sans-serif);
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  mix-blend-mode: hard-light;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #FFF;
  text-shadow:
  -1px 0 var(--text-stroke-color), 
  0 1px var(--text-stroke-color), 
  1px 0 var(--text-stroke-color), 
  0 -1px var(--text-stroke-color);
  opacity: 0.5;
  top: 25px;
  right: 25px;
  z-index: 1;
}

@supports((text-stroke: var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .card__image-text {
      -webkit-text-stroke: 1px var(--text-stroke-color);
      text-stroke: 1px var(--text-stroke-color);
      text-shadow: none;
  }
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--font-weight-card-text);
}

.card__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 25px 25px 0;
  gap: 1px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
  block-size: 38px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  z-index: 1;
  font-family: var(--accent-font, fantasy, sans-serif);
  color: var(--button-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  mix-blend-mode: difference;
}

.button__text:hover {
  transition: transform 5s linear;
}

.card__save {
 display: flex;
 justify-content: center;
 padding-bottom: 103px;
}

.save__button {
  background-color: transparent;
  background: var(--background-color);
  inline-size: 335px;
  block-size: 55px;
  gap: 8px;
}

.save__button-icon {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  aspect-ratio: 1/1;
}

.dialog-icon {
  color: var(--accent-color);
  inline-size: 80px;
  aspect-ratio: 1/1;
}

.close__button {
  background-color: transparent;
  inline-size: 100%;
  block-size: 38px;
  padding: 20px;
}

.dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.dialog__content {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}

.dialog__text {
  color: var(--accent-color);
  font-family: var(--accent-font, fantasy, sans-serif);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.75;
}

.modal__close {
  text-transform: uppercase;
}

@media (width <= 375px) {
  .card__image-text {
    right: 11px;
  }

  .save__button {
    flex-direction: column;
    inline-size: 308px;
    block-size: 84px;
    margin-bottom: 102px;
  }

  .card__save {
    padding: 0;
  }

  .save__button-icon {
    inline-size: 28px;
  }

  .like-icon {
  padding-left: 2px;
  }

  .card__text-width {
    max-width: 315px;
    align-self: flex-start;
  }
}


.filter-sepia:hover {
  filter: sepia(15%);
}

.filter-invert {
  filter: invert(80%);
}

.filter-grayscale-invert {
  filter: grayscale(0.5) invert(80%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-brightness:hover {
  filter: brightness(180%);
}

.filter-blur {
  filter: blur(2px);
}

.filter-opacity {
  filter: opacity(50%);
}

.filer-grayscale {
  filter: grayscale(0.5);
}

.img__cat:hover {
  filter: grayscale(0);
}